{% extends "idp/base.html" %}
{% load static %}
{% block title %} 
List of Pregnant or Lactating
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-sm-7"><h3>Pregnant or Lactating</h3></div>
  <div class="col-sm-2"></div>
  <!-- <div class="col-sm-3">
      <div class="btn-group dropdown">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'idp:preg_lact_excel' %}">Excel</a>
          <a class="dropdown-item" href="#">PDF</a>
        </div>
      </div>
  </div> -->
</div>
{% if lactating_head or lactating_mem %} 


<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Family Head</th>
        <th>Wereda</th>
        <th>Kebelle</th>
        <th>IDP Site</th>
      </tr>
    </thead>
    <tbody>
  {% for lm in lactating_mem %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td>{{lm}}</td>
          <td>{{lm.sex}}</td>
          <td>{{lm.age}}</td>
          <td><a href="{{ lm.family_head.get_absolute_url }}">{{lm.family_head}}</a></td>
          <td>{{lm.family_head.owereda}}</td>
          <td>{{lm.family_head.okebele}}</td>
          <td>{{lm.family_head.idp_site}}</td>
      </tr>
  {% endfor %}
  {% for lm in lactating_head %}
  <tr>
      <td>{{forloop.counter|add:count}}</td>
      <td>{{lm}}</td>
      <td>{{lm.sex}}</td>
      <td>{{lm.age}}</td>
      <td>
        <a href="{{ lm.get_absolute_url }}">
          Herself
        </a>
      </td>
      <td>{{lm.owereda}}</td>
      <td>{{lm.okebele}}</td>
      <td>{{lm.idp_site}}</td>
  </tr>
{% endfor %}
    </tbody>
  </table>
  </div>

  {% else %} 
  <div class="alert alert-warning">
    No lactating or pregnant women in your system.
  </div>
  {% endif %}
{% endblock %}