{% extends "idp/base.html" %}
{% load static %}
{% block title %} 
Statistical Summary
{% endblock %}
{% block content %} 
<h3 class="text-center border-bottom">Statistical Data of Adi Haqi</h3>

      <h5>Distribution Across Kebeles</h5>
 
 
      <div id="container" style="width: 75%;">
          <canvas id="all-chart" data-url="{% url 'idp:statistics' %}"></canvas>
      </div>
        <script>
          var config = {
            type: 'bar',
            data: {
              datasets: [{
                data: {{ data_kebele|safe }},
                backgroundColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)'
                ],
                label: ['Tabyas/Kebele']
              }],
              labels: {{ labels_kebele|safe }}
            },
            options: {
              responsive: true
            }
          };

          window.onload = function() {
            var ctx = document.getElementById('all-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
          };
        </script>
          

{% endblock %}